.chat-ui-container{
    width: 100%;
    height: 230vh;
    margin: 0;
    padding: 0;
    background-image: url("../../images/butterfly.png");
    background-size: contain;
    background-repeat: initial;
    /* display: flex; */
    border: 2px solid red;
}
