:root{
    --header-font-color: #438af6;
    --header-button-bg-color: #478df3;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 242, 242);
    /* height: 40px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 40px;
    align-items: center;
    align-content: center;
    text-align: center;

    box-shadow: 0px 5px 6px -4px #999;

}

.h-login-signup{
    display: flex;
    gap: 20px;

    align-items: center;
    align-content: center;
    text-align: center;
}

.h-login-signup button{
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 15px;
    font-weight: 700;
    color: var(--header-font-color);
    padding: 10px 20px;
    border: none;
    border: 1px solid #438af6;
    border-radius: 5px;
    background: transparent;

    cursor: pointer;
}
.h-login-signup button:hover{
    background-color: #b2d0fd;
    color: chocolate;
    /* scale: 1.009; */
}
#h-signup{
    background-color: var(--header-button-bg-color);
    color: white;
}

/* ------------------------- */

.AlertLabel_container{
    background: linear-gradient(90.32deg,#57578e .22%,#363534 57.18%,#b16a18);
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    /* z-index: 100; */
    height: 26px;
}

.AlertLabel_container a{
    text-decoration: none;
    /* color: black; */
    color: white;
    font-weight: 500;
}