.back-to-top-button {
  position: fixed;
  bottom: 0;
  right: 10%;
  background-color: #58230c;
  color: #fff;
  padding: 4px 10px 2px 10px;
  
  border-radius: 5% 5% 0 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 999;

  background-image: radial-gradient(circle, #676869 20%, rgba(0, 123, 255, 0) 30%);
  background-size: 150% 150%;
  animation: waterWave 1.5s infinite;
}


@keyframes waterWave {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}



.back-to-top-button.visible {
  opacity: 1;
}

.back-to-top-button i {
  font-size: 17px;
  
}

.back-to-top-button span {
  margin-left: 8px;
  font-size: 16px;
}
